body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: black;
    color: white;
    padding: 1px 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #60943c;
    text-decoration: none;
}

.header-container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    padding: 5px; /* Adjust padding as needed */
    background-color: black;
}

.date-time {
    color: black; /* Change color as needed */
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #00ffff;
}

.table-title{
    margin: 0;
    padding: 5px 25px;
    color: #60943c;
}

.tables-container {
    display: flex;
    margin: 20px;
    margin-top: 0%;
}

.Previous-Block-table {
    border-collapse: collapse;
    margin: 10px;
    width: 27%; /* Adjust width as needed */
    background-color: black;
}

.Previous-Block-table, th, td {
    border: 1px solid #333;
}

.Previous-Block-table,th, td {
    padding: 8px;
    text-align: left;
}

.Previous-Block-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}


.Previous-Block-tbody, tr {
    line-height: 0%;
}


.Current-Block-table {
    border-collapse: collapse;
    margin: 10px;
    width: 27%; /* Adjust width as needed */
    background-color: black;
}

.Current-Block-table, th, td {
    border: 1px solid #333;
}

.Current-Block-table,th, td {
    padding: 8px;
    text-align: left;
}

.Current-Block-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.Cumulative-table {
    border-collapse: collapse;
    margin: 10px;
    width: 27%; /* Adjust width as needed */
    background-color: black;
}

.Cumulative-table, th, td {
    border: 1px solid #333;
}

.Cumulative-table,th, td {
    padding: 8px;
    text-align: left;
}

.Cumulative-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.Previous-Block-Status-table {
    border-collapse: collapse;
    margin: 10px;
    /* width: 24%;  */
    background-color: black;
}

.Previous-Block-Status-table, th, td {
    border: 1px solid #333;
}

.Previous-Block-Status-table,th, td {
    padding: 8px;
    text-align: left;
}

.Previous-Block-Status-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
}

.Fuel-Cost-Frequency-table {
    border-collapse: collapse;
    margin: 10px;
    /* width: 24%;  */
    background-color: black;
}

.Fuel-Cost-Frequency-table, th, td {
    border: 1px solid #333;
}

.Fuel-Cost-Frequency-table,th, td {
    padding: 8px;
    text-align: left;
}

.Fuel-Cost-Frequency-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
}

.Next-Block-table {
    border-collapse: collapse;
    margin: 10px;
    /* width: 24%;  */
    background-color: black;
}

.Next-Block-table, th, td {
    border: 1px solid #333;
}

.Next-Block-table,th, td {
    padding: 8px;
    text-align: left;
}

.Next-Block-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
}

.Normal-Rate-table {
    border-collapse: collapse;
    margin: 10px;
    /* width: 24%;  */
    background-color: black;
}

.Normal-Rate-table, th, td {
    border: 1px solid #333;
}

.Normal-Rate-table,th, td {
    padding: 8px;
    text-align: left;
}

.Normal-Rate-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.2rem;
    text-align: left;
    padding: 5px;
}

.Real-Time-Generation-Data-table {
    border-collapse: collapse;
    margin: 10px;
    width: 50%; 
    background-color: black;
}

.Real-Time-Generation-Data-table, th, td {
    border: 1px solid #333;
}

.Real-Time-Generation-Data-table,th, td {
    padding: 8px;
    text-align: left;
}

.Real-Time-Generation-Data-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.tables-containers {
    display: flex;
    margin: 20px;
    width: 98%;
}

.Previous-Blocks-table {
    border-collapse: collapse;
    margin: 10px;
    width: 32%; /* Adjust width as needed */
    background-color: black;
}

.Previous-Blocks-table, th, td {
    border: 1px solid #333;
}

.Previous-Blocks-tables,th, td {
    padding: 8px;
    text-align: left;
}

.Previous-Blocks-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.Current-Blocks-table {
    border-collapse: collapse;
    margin: 10px;
    width: 32%; /* Adjust width as needed */
    background-color: black;
}

.Current-Blocks-table, th, td {
    border: 1px solid #333;
}

.Current-Blocks-table,th, td {
    padding: 8px;
    text-align: left;
}

.Current-Blocks-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.Cumulatives-table {
    border-collapse: collapse;
    margin: 10px;
    width: 32%; /* Adjust width as needed */
    background-color: black;
}

.Cumulatives-table, th, td {
    border: 1px solid #333;
}

.Cumulatives-table,th, td {
    padding: 8px;
    text-align: left;
}

.Cumulatives-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.Real-Time-Exp-Imp-Data-table {
    border-collapse: collapse;
    margin: 10px;
    width: 50%; 
    background-color: black;
}

.Real-Time-Exp-Imp-Data-table, th, td {
    border: 1px solid #333;
}

.Real-Time-Exp-Imp-Data-table,th, td {
    padding: 8px;
    text-align: left;
}

.Real-Time-Exp-Imp-Data-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}

.Normal-Rate-table {
    border-collapse: collapse;
    margin: 10px;
    width: 50%; 
    background-color: black;
}

.Normal-Rate-table, th, td {
    border: 1px solid #333;
}

.Normal-Rate-table,th, td {
    padding: 8px;
    text-align: left;
}

.Normal-Rate-table caption {
    font-weight: bold;
    color: #60943c;
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
}


